<div class="container mb-4">

  <h3 class="pt-2"><em>Nacional Solutions</em></h3>

  <hr>

  <ul class="pt-2 nav nav-pills nav-fill">
    <li class="nav-item">
      <a routerLinkActive="active" class="nav-link" routerLink="SuppliersContracts">
        <i class="bi bi-truck"></i>
        Suppliers and Services
      </a>
    </li>
    <li class="nav-item">
      <a routerLinkActive="active" class="nav-link" routerLink="PaymentAssistance">
        <i class="bi bi-bank"></i>
        Payment assistance
      </a>
    </li>
    <li class="nav-item">
      <a routerLinkActive="active" class="nav-link" routerLink="BussinessInteligence">
        <i class="bi bi-graph-up"></i>
        Business intelligence
      </a>
    </li>
  </ul>
  <hr>

  <router-outlet></router-outlet>
  <br>
</div>