.container{
    background-color: rgba(255, 255, 255, 0.637);
    height: 75%;
    width: 60%;
}

.navigation{
    position: fixed;
    height: 50px;
    bottom: 5%;
    left: 35%;
    margin-bottom: 0px;
}

.searchArea{
    width: 50%;
    margin-right: 5%;
    margin-left: 5%;
}

.dropdown-toggle{
    margin-left: 20%;
}

svg{
    margin-left: 35%;
}