<div [hidden]="!showSupplierDetails">
    <div class="modalAux">
        <button (click)="onCloseSupplierDetail()" type="button" class="btn-close" aria-label="Close"></button>
        <div data-bs-spy="scroll" data-bs-root-margin="0px 0px -20%" data-bs-smooth-scroll="true" class="scrollspy-example bg-light p-3 rounded-2" tabindex="0">
            <h3 class="mt-1">
                <span class="badge bg-primary">
                    Infratech Solutions
                </span>
            </h3>
            <hr>
            <ul>
                <li>
                    <i class="bi bi-postcard"></i>
                    4658798765413
                </li>
                <li>
                    <i class="bi bi-globe"></i>
                    Brazil
                </li>
                <li>
                    <i class="bi bi-map"></i>
                    Santa Catarina
                </li>
                <li>
                    <i class="bi bi-geo-alt"></i>
                    Street São Sebastião, 146 - São José
                </li>
                <li>
                    <i class="bi bi-calendar-week"></i>
                    From: 12/09/2022 Until:12/03/2023
                </li>
                <li>
                    <i class="bi bi-envelope"></i>
                    infratech@email.com
                </li>
                <li>
                    <i class="bi bi-telephone"></i>
                    +55 48 900223344
                </li>
                <li>
                    <i class="bi bi-basket"></i>
                    Products or Service: 
                    Motherboards and Electrodes
                </li>
            </ul>
        </div>
    </div>
    <div class="overlay">
    </div>
</div>