<div [hidden]="!showDetails">
    <div class="modalAux">
        <button (click)="onCloseEmployeeDetail()" type="button" class="btn-close" aria-label="Close"></button>
        <hr>
        <div>
            <h3>
                <span class="badge bg-primary">
                    Jhon Doe
                </span>
            </h3>
            <ul>
                <li>
                    <i class="bi bi-postcard"></i>
                    564897652423
                </li>
                <li>
                    <i class="bi bi-globe"></i>
                    EUA
                </li>
                <li>
                    <i class="bi bi-map"></i>
                    Cálifornia
                </li>
                <li>
                    <i class="bi bi-geo-alt"></i>
                    Los Angeles
                </li>
                <li>
                    <i class="bi bi-calendar-week"></i>
                    01/01/1970
                </li>
                <li>
                    <i class="bi bi-person"></i>
                    Mother name
                </li>
                <li>
                    <i class="bi bi-person"></i>
                    Father name
                </li>
                <li>
                    <i class="bi bi-envelope"></i>
                    test@test.com
                </li>
                <li>
                    <i class="bi bi-envelope"></i>
                    test@test.com
                </li>
                <li>
                    <i class="bi bi-telephone"></i>
                    20648545
                </li>
                <li>
                    <i class="bi bi-telephone"></i>
                    46545632
                </li>
            </ul>
        </div>
    </div>
    <div class="overlay">
    </div>
</div>