<img src="assets/undraw_forgot_password_re_hxwm.svg" 
    alt="forgot password image" 
    width="175" height="175"
>

<div class="mb-2">
    <label for="exampleInputEmail1" class="form-label">
        <i class="bi bi-envelope"></i>
        Type your Email...
    </label>
    <input type="email" class="form-control" placeholder="example@example.com" #emailRecover>
    <P style="color: red;" class="text-center" *ngIf="error">*Email can't be empty...</P>
</div>

<div *ngIf="showMessage" class="mb-2 text-center">
    <p>
        If you don't receive the recover link, 
        please search in your spam or retry again
    </p>
</div>

<div class="mb-3">
    <button class="btn btn-dark recoverBtn" (click)="onRecoverPassword(emailRecover.value)">
        <i class="bi bi-key"></i>
        Recover
    </button>
    <button class="btn btn-dark cancelBtn" (click)="onCancelRecover()">
        <i class="bi bi-x"></i>
        Cancel
    </button>
</div>