<img src="assets/undraw_forgot_password_re_hxwm.svg" 
    alt="forgot password image" 
    width="175" height="175"
>

<div class="mb-2">
    <label for="exampleInputEmail1" class="form-label">
        <i class="bi bi-envelope"></i>
        Type your Email...
    </label>
    <input type="email" class="form-control" placeholder="example@example.com">
</div>

<div *ngIf="showMessage" class="mb-2 text-center">
    <p>
        If you don't receive the recover link, 
        please search in your spam or retry again
    </p>
</div>

<div class="mb-3 text-center">
    <button class="btn btn-dark" (click)="onRecoverPassword()">
        <i class="bi bi-key"></i>
        Recover
    </button>
</div>