<div [hidden]="!showDetails">
    <div class="modalAux">
        <button (click)="onCloseCompanyDetail()" type="button" class="btn-close" aria-label="Close"></button>
        <hr>
        <div data-bs-spy="scroll" data-bs-root-margin="0px 0px -20%" data-bs-smooth-scroll="true" class="scrollspy-example bg-light p-3 rounded-2" tabindex="0">
            <img class="img-responsive" src="" alt="company logo">
            <h3 class="mt-1">
                <span class="badge bg-primary">
                    Microsoft
                </span>
            </h3>
            <hr>
            <ul>
                <li>
                    <i class="bi bi-globe"></i>
                    EUA
                </li>
                <li>
                    <i class="bi bi-map"></i>
                    Cálifornia
                </li>
                <li>
                    <i class="bi bi-geo-alt"></i>
                    Los Angeles
                </li>
                <li>
                    <i class="bi bi-postcard"></i>
                    564897652423
                </li>
                <li>
                    <i class="bi bi-envelope"></i>
                    test@test.com
                </li>
                <li>
                    <i class="bi bi-envelope"></i>
                    test@test.com
                </li>
                <li>
                    <i class="bi bi-telephone"></i>
                    20648545
                </li>
                <li>
                    <i class="bi bi-telephone"></i>
                    46545632
                </li>
                <li>
                    <i class="bi bi-people-fill"></i>
                    10.596
                </li>
            </ul>
        </div>
    </div>
    <div class="overlay">
    </div>
</div>