.container{
    margin-left: 32%;
    margin-top: 5%;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.377);
    border-radius: 20px;
}

h3{
    margin-left: 10%;
}

img{
    margin-left: 10%;
}